.ipl-ph{
    height: 500px;
    width: 100%;
    position: relative;

}
.ipl-ph > img {
    width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
  transform:scaleX(2.0);

}